{% extends 'base.html.twig' %}

{% block body %}
    <h1>Collage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collage.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ collage.nom }}</td>
            </tr>
            <tr>
                <th>Détails</th>
                <td>{{ collage.détails }}</td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <td>{{ collage.dimensions }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if collage.date %}{{ collage.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('collage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('collage_edit', { 'id': collage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
