{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sculpture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sculpture.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sculpture.nom }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ sculpture.details }}</td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <td>{{ sculpture.dimensions }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if sculpture.date %}{{ sculpture.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sculpture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sculpture_edit', { 'id': sculpture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
